extends layout

block content
    h1= title
    img(src='/inventory/image/' + item.image._id, alt=item.name)
    p #{item.description}
    a(href=item.category.url) #{item.category.name}
    p #[strong Price:] $#{item.price}
    p #[strong Stock:] #{item.numberInStock}

    a(href=item.url+'/delete') Delete Item
    a(href=item.url+'/update') Update Item