extends layout

block content
    h1= title
    p #{item.description}
    a(href=item.category.url) #{item.category.name}
    p #[strong Price:] $#{item.price}
    p #[strong Stock:] #{item.numberInStock}

    p Do you really want to delete this Item?

    form(method='POST' action='')
        input(type='hidden' name='id' required='true', value=item._id)
        button(type="submit") Delete