extends layout

block content
    .item-detail
        .breadcrumb-navigation
            a.breadcrumb-link(href="/") Home
            span.breadcrumb-separator &gt;
            a.breadcrumb-link(href="/inventory/items") Items
            span.breadcrumb-separator &gt; #{item.name}

        .item-details
            .item-details-image
                img(src='/inventory/image/' + item.image._id, alt=item.name)

            .item-details-info
                h3= item.name

                .item-details-stock
                    span #[strong Stock:] #{item.numberInStock}

                span.item-details-price #[strong Price:] $#{item.price}

                .item-details-description
                    p #{item.description}

                a(href=item.category.url class='item-details-category') #{item.category.name}

                .btn-container
                    a(href=item.url+'/delete')
                        button(type="button") Delete Item
                    a(href=item.url+'/update')
                        button(type="button") Update Item