extends layout

block content
    h1= title

    form(action="" method="post")
        label(for="name") Name:
        input(type='text' placeholder='Apple, Carrot etc.' name='name' value=(undefined===item ? '' : item.name) required='true')
        label(for="description") Description:
        input(type='text' placeholder='Nutritious and crunchy carrots, great for salads and snacks.' name='description' value=(undefined===item ? '' : item.description) required='true')
        label(for="category") Category:
        select(type='select' placeholder='Select category' name='category' required='true')
            - categories.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
            for category in categories
                if item
                    option(value=category._id selected=(category._id.toString() === item.category._id.toString() ? 'selected' : false)) #{category.name}
                else
                    option(value=category._id) #{category.name}
        label(for="price") Price:
        input(type='number' name='price' value=(undefined===item ? 0 : item.price) required='true')
        label(for="numberInStock") Stock:
        input(type='number' name='numberInStock' value=(undefined===item ? 0 : item.numberInStock) required='true')
        button(type="submit") Submit

    if errors
        ul
            for error in errors
                li!= error.msg
