extends layout

block content
    .item-list
        .breadcrumb-navigation
            a.breadcrumb-link(href="/") Home
            span.breadcrumb-separator &gt; Items
        .card-container
            each item in item_list
                .card
                    a(href=`/inventory/item/${item._id}`)
                        .img-container
                            img(src='/inventory/image/' + item.image._id, alt=item.name)
                        span.item-title #{item.name}
                    span.item-price #[strong Price:] $#{item.price}
                    .stocks-container
                        span #[strong Stock:] #{item.numberInStock}
            else
                span There are no items.